# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_ENV=development
JWT_SECRET_KEY=SECRET
JWT_SECRET="themostsafepasswordeverandever"

# Front-End Variables
BASENAME=/

# Email JS
SERVICE_ID='service_yrjx7ri'
EMAIL_JS_PUBLIC_ID='DSeMYPcDEYnErZESa'
TEMPLATE_ID1='template_4c8z3k2'
TEMPLATE_ID_P='template_7tphbsi'

# Geopy
REACT_APP_GOOGLEPLACES_API_KEY="AIzaSyA1V01T2mLeroR8y-s7tqK-vyqHx3A17hk"
API_CARLOS="AIzaSyCsXWCNURRJs7kv2UyIeEzBOBOPhF_vxDQ"
API_KEY_LU="AIzaSyA1V01T2mLeroR8y-s7tqK-vyqHx3A17hk"

# Cloudinary
REACT_APP_CLOUDINARY_CLOUD_NAME="dkcoownwg"
REACT_APP_CLOUDINARY_API_KEY= "792218346463893"
REACT_APP_CLOUDINARY_API_SECRET="AchziNoo9EZ-US3r6ST9HbAiXOk"
CLOUDINARY_URL=cloudinary://792218346463893:AchziNoo9EZ-US3r6ST9HbAiXOk@dkcoownwg